/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

@media (max-width: 768px) {
  .home {
    grid-template-columns: 1fr;
  }
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #333;
  text-decoration: none;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 100px;
}
.activity-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.activity-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.activity-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}
.activity-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;
}

/* chart */
.chart {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.week-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 10px; /* Spacing between charts */
  width: 100%; /* Using 100% width to make it responsive */
  margin: 0 auto;
  border-radius: 0;
  background-color: transparent; /* Optional: removing the background circle */
}

.day-chart {
  flex: none; /* Do not stretch or shrink */
  margin: 10px;
  width: calc(33.33% - 20px); /* 33.33% for 3 items per row minus the margin */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start; /* Align the top of the column */
  position: relative; /* Removed absolute positioning */
}

/* Adjustments for smaller screens (e.g. mobile) */
@media (max-width: 768px) {
  .day-chart {
    width: 100%; /* One chart per row on smaller screens */
  }
}

.day-chart:nth-child(1) {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
} /* Sunday */

.day-chart:nth-child(2) {
  top: 30%;
  left: 10%;
} /* Monday */

.day-chart:nth-child(3) {
  top: 30%;
  right: 10%;
} /* Friday */

.day-chart:nth-child(4) {
  top: 50%;
  left: 10%;
} /* Tuesday */

.day-chart:nth-child(5) {
  top: 50%;
  right: 10%;
} /* Thursday */

.day-chart:nth-child(6) {
  top: 70%;
  left: 10%;
} /* Wednesday */

.day-chart:nth-child(7) {
  top: 70%;
  right: 10%;
} /* Saturday */

.activity-doughnut-container {
  width: 90%; /* Or a fixed size like 200px; */
  height: 90%; /* Or a fixed size like 200px; */
}

.activity-doughnut-container h2 {
  margin-bottom: 20px; /* Or more, depending on your design needs */
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}
